body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: url('/practiceresponsetovictory/img/idaho/cardbackground2.jpeg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a:hover {
  color: rgb(46, 241, 88);
}

a:active {
  color: rgb(109, 241, 191);
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #f3ecec;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: rgb(192, 213, 247);
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #5341dd;
}

.row.equal-height {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

section,
aside {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: thick whitesmoke;
}

.carousel-inner img {
  object-fit: cover;
}

p {
  color: wheat;
}