.column:nth-child(even) {
    .box:nth-child(odd) {
        background-color: black;
    }
}
.column:nth-child(odd) {
    .box:nth-child(even) {
        background-color: black;
    }
}
/* Something funky with ordering/positioning magic */
.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
}

/* Everything takes up the maximum possible space UNLESS you restrict it. */
.box {
    width: 30px;
    height: 30px;
}
.column {
    height: 200px;
    width: 30px;
}